body {
    
    font-family: 'Sono', sans-serif;
}

body, html {
    height: 100%;
}

nav {
    background-color:  orange;
    padding: 20px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
}

header {
    /* I think you need to darken the background image so the text sticks out */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url("./images/laptop-screen.jpg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero h1 {
    font-size: 70px;
    font-weight: bold;
    padding: 10px;
}

/* Put dese in cards */

.skills {
    color: white;
    background-color: black;
}

.skills h2 {
    text-align: center;
    font-size: 40px;
}

.skills img {
    background-color: white;
}